
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.newRepository {
  display: none;
}

.green {
  background-color: #d0ffad;
}

.blue {
  background-color: #077b9e;
}

.purple {
  background-color: #ea98e1;
}

